In [8]:
import os
import pandas as pd

In [5]:
os.listdir('./drive/MyDrive/machine_learning_data')

['new_friend.csv',
 'NanumBarunGothic.ttf',
 'test_csv.txt',
 'crawlings__210510.log',
 'abalone.data',
 'train_data.csv',
 'friend.csv',
 'wc_result1.png',
 'dolphine.jpg',
 'wc_result.png',
 'Naver_opinion.txt',
 'new_friend_index_true.csv',
 '.ipynb_checkpoints']

In [6]:
# 데이터 폴더 src 변수 할당
base_src='./drive/MyDrive/machine_learning_data'

# friend.csv 파일 src 변수할당
friend_src = base_src + '/friend.csv'

In [7]:
#판다스의 read_csv => 데이터 불러오기

In [10]:
df = pd.read_csv(friend_src, encoding = 'utf-8')

In [11]:
#head( ) 데이터를 읽어보기 -> 5개만 읽기
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [12]:
new_friend_src = base_src + "/new_friend.csv"

In [15]:
df.to_csv(new_friend_src,index = False, encoding = 'utf-8')

In [16]:
os.listdir(base_src)

['new_friend.csv',
 'NanumBarunGothic.ttf',
 'test_csv.txt',
 'crawlings__210510.log',
 'abalone.data',
 'train_data.csv',
 'friend.csv',
 'wc_result1.png',
 'dolphine.jpg',
 'wc_result.png',
 'Naver_opinion.txt',
 'new_friend_index_true.csv',
 '.ipynb_checkpoints',
 'train.csv']

In [17]:
# Series 실습
import numpy as np
np. array([1,2,3])

array([1, 2, 3])

In [18]:
series = df['name']
series

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [19]:
# pd.series 함수를 통해서 만드는 것도 가능
series = pd.Series([1,2,3,4])
series

0    1
1    2
2    3
3    4
dtype: int64

In [20]:
from pandas.core.arrays.sparse import dtype
# pd.Series 의 옵션이 무엇이 있는지 확인
# index => 할당값의 지정 이름, 중복 가능['a','a','b','c']
# dtype => 대표적: int, float, string, boolean 등
series = pd.Series([1,2,3,4], index=['a','b','c','d'],dtype = float)
series

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [22]:
series = pd.Series([10,2,5,4], index=['a','b','c','d'],dtype = float)
series.sort_values(ascending=True)

b     2.0
d     4.0
c     5.0
a    10.0
dtype: float64

In [23]:
series.sort_values(ascending=False)

a    10.0
c     5.0
d     4.0
b     2.0
dtype: float64

In [24]:
# DataFrame 실습
df = pd.DataFrame({'a':[2,3], 'b': [5,10]})
df

   a   b
0  2   5
1  3  10

In [25]:
df = pd.DataFrame([[2,5],[3,10],[10,20]],columns=['a','b'])
df

    a   b
0   2   5
1   3  10
2  10  20

In [55]:
# - DataFrame 행,열 선택 및 필터링
df = pd.read_csv(friend_src,encoding='utf-8')
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [27]:
# index 2번에 해당하는 row 가져오기
df.iloc[2]

name       Nate
age          30
job     teacher
Name: 2, dtype: object

In [28]:
# 데이터 프레임으로 가져오기
df.iloc[[2]]

   name  age      job
2  Nate   30  teacher

In [29]:
df['job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [30]:
df.loc[:, 'job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [31]:
df.loc[1,'job']

'developer'

In [32]:
df.iloc[1,2]

'developer'

In [33]:
df.iloc[2:4]

    name  age      job
2   Nate   30  teacher
3  Julia   40  dentist

In [34]:
# col은 row도 정해줘야 된다
df.iloc[:,:2]

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [45]:
# -DataFrame 행,열 삭제
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])

In [46]:
## ['B','C'] 컬럼을 삭제하겠다. axis=0 or 1 => 0:row 방향 , 1:col 방향
df.drop(['B', 'C'], axis=1)

   A   D
0  0   3
1  4   7
2  8  11

In [47]:
df.drop([0, 1], axis=0)

   A  B   C   D
2  8  9  10  11

In [49]:
# 데이터 수정
df.loc[1,'C'] = '육'
df

   A  B   C   D
0  0  1   2   3
1  4  5   육   7
2  8  9  10  11

In [50]:
df.iloc[1,2] = 6

In [51]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [52]:
#슬라이싱을 사용해 원하는 범위까지 바꾸기
df.iloc[:,1] = "끝"
df

   A  B   C   D
0  0  끝   2   3
1  4  끝   6   7
2  8  끝  10  11

In [57]:
# 조건 필터링 가져오기
# 30대 이상만 가져오기
df[df['age']>=30]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [59]:
# job이 intern인 사람 가져오기
df[df['job'] == 'intern']

    name  age     job
5  Chris   25  intern

In [60]:
# 조건이 여러개인 경우
# 30대 이상 40대 이하
df[(df['age']>=30) & (df['age']<=40)]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist

In [61]:
# 30대 미만 혹은 40대 초과
df[(df['age']<30) | (df['age']>40)]

    name  age      job
0   John   20  student
4  Brian   45  manager
5  Chris   25   intern

In [62]:
5 in [1,3,5,8,23,215]

True

In [64]:
# in을 통한 포함 조건 달기
df[df['job'].apply(lambda x : x in ['student','manager'])]

    name  age      job
0   John   20  student
4  Brian   45  manager

In [70]:
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])

In [72]:
#B , C 컬럼을 삭제
df.drop(['B','C'],axis = 1,inplace = True)

   A   D
0  0   3
1  4   7
2  8  11

In [69]:
# 인덱스 0과 1 삭제
df.drop([0,1])

   A   D
2  8  11

In [73]:
# - DataFrame 행,열 선택 및 필터링
df = pd.read_csv(friend_src,encoding='utf-8')
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [74]:
#df를 하나 복사( 원본 데이터 유지를 위해)
temp = df.copy()
temp

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [75]:
# age컬럼 모든 값을 변경
temp['age'] = 20
temp

    name  age        job
0   John   20    student
1  Jenny   20  developer
2   Nate   20    teacher
3  Julia   20    dentist
4  Brian   20    manager
5  Chris   20     intern

In [76]:
temp.loc[2,'age'] = 27
temp

    name  age        job
0   John   20    student
1  Jenny   20  developer
2   Nate   27    teacher
3  Julia   20    dentist
4  Brian   20    manager
5  Chris   20     intern